body{
    width: 100vw;
    height: 100vh;
    background-color: #460074;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 10%;
    font-size: 2rem;
    color: #fff;
    background-color: #460074;
}

.voltar{
    position: absolute;
    left: 2rem;
    top: 25%;
    color: #fff;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 10%);
    border-radius: 5rem 5rem 0rem 0rem;
    background-color: #1E1E1E;
}